* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
body > * {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}

h1 {
  font-size: 40px !important;
}

h2 {
  font-size: 32px !important;
}

h3 {
  font-size: 24px !important;
}

h4 {
  font-size: 20px !important;
}

h5 {
  font-size: 18px !important;
}

h6 {
  font-size: 16px !important;
}

.white {
  color: #fff;
}
.black {
  color: #000;
}
.green {
  color: #92c43e;
}
.green-bg {
  background-color: #92c43e;
}
.green-bg:hover {
  color: #fff;
  background-color: #92c43e;
}
.sellphoneheading{
  font-size: 40px !important;
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}
button,
.btn {
  font-size: 16px;
  border-radius: 4px;
   height: 48px;
  background: #92c43e;
  font-family: Roboto;
  color: #fff;
  white-space: nowrap;
  flex-shrink: 0px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}



.btn-white {
  color: #92c43e;
  border: 1px solid #92c43e;
  background: transparent;
  white-space: nowrap;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:first-child:active {
  background: #759d32 !important;
  color: #fff;
  border: 1px solid #759d32 !important;
  white-space: nowrap;
  flex-shrink: 0px !important;
}


a {
  text-decoration: none;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
  border: 2px solid #92c43e;
}
::placeholder {
  color: #a5a7a5;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 4px !important;
  align-items: center;
}


.inputlable {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
  font-size: 16px;
}
.inputchecklable {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}

/* input check box  */

.group{
  display: flex;
  align-items: center;
  gap:10px;

}

input[type="checkbox"]{
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 7px;
  cursor: pointer;
  border: 2px solid #E8E8E8;
  background-color: white;
  appearance: none;
}
input[type="checkbox"]:checked{
  background-color: #92c43e;
}
input[type="checkbox"]::before{
  content: "";
  position: absolute;
  left: 9px ;
  width: 8px;
  height: 20px;
  border: 3px solid transparent;
  border-left: none;
  border-top: none;
  transform: rotate(45deg) scale(1);


}
input[type="checkbox"]:checked:before{
  border-color: #fff;
 
}

ul, li {
 
  list-style-type: none; /* Add this line to remove the dots */
}
/* react toastfy */
.toastBody {
  
  color: #10171D;
  font-size: 20px;
}
.toastProgress {
  background: #92c43e;
}
.form-control{
  font-size: 18px;
  height: 50px !important;
}

@media (max-width: 576px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }

  button,
.btn {

  padding: 5px;
  height: 43px;
}
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }

  
}
 

@media (max-width: 1200px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
}
@media (min-width: 1201px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
}
