.heroheader {
  background: radial-gradient(
    43.22% 61.13% at 50.14% 49.94%,
    #f4f9ec 0%,
    #deedc5 100%
  );
  width: 100% !important;
  height: auto !important;
  padding-bottom: 5px !important;
}

.heroitem {
  padding-top: 35px !important;
}
.headingStyle {
  text-align: center;
  margin-top: 45px;
}

.heroparagraph {
  text-align: center;
  padding: 20px;
}

.rating {
  color: #212221;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.review {
  color: #212221;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.herosectionimg2{

}
@media (max-width: 767px) {
.herosectionimg2{
    width: 100%;
    margin-right: auto;
}
.herosectionimg1{
      width: 100%;
    margin-right: auto;
}

}
