.navbar-wrapper {
    position: fixed;
    top: 8px;
    left: 70px;
    width: 100%;
    z-index: 100;
  }
  
  nav {
    background-color: white;
    color: black;
    overflow: hidden;
    height: 100vh; /* Adjust the height as needed */
    width: 21%; /* Adjust the width as needed */
    position: fixed; /* Fixed position so it stays on the left */
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    z-index: 50;
  }
  
  nav a {
    color: black;
    background-color: white;
    width: 70px;
    text-align: start;
    margin-left: 50px;
    text-decoration: none;
    position: relative; /* Set to relative */
  }
  
  .navbar-wrapper.active nav {
    left: 0;
  }
  
  /* Add styles for your hover effect if needed */
  