.ChooseUscard {
  padding: 40px 30px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.04);
  width: 420px;
  height: auto;
  text-align: center;
}

.sellmobilephonecard {
  padding: 40px 30px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.04);
  width: 420px;
  height: auto;
  text-align: center;
  color:"#92C43E";
  /* color: red; */
}

.recomendmobile {
  border-radius: 7px;
  background: #fff;
  box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.04);

  text-align: start;
}
.Icon-img {
  width: 32px;
  height: 44px;
  margin: 0 auto;
}
