
.advertscontainer {
    padding: 30px 0px 60px 0px;
    width: 92%; /* Removed quotes */
    margin: auto !important; /* Removed quotes */
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
.myadertscard{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}
.activebtn{
    width: 15%;
    background: #92C43E;

}
.inactivebtn{
    width: 15%;
 
     color: "#000";
}
.voiceimg {
    width: 20%;
    display: block; 
    margin: auto; 
    /* border: 2px solid red; */
}
.advertinfo{
    width: 40%;
    margin: auto;
}
@media(max-width:992px){


    .advertscontainer {
        padding: 30px 0px 60px 0px;
        width: 92%; /* Removed quotes */
        margin: auto !important; /* Removed quotes */
        display: grid;
        grid-template-columns: 1fr ;
      }

    .activebtn{
        width: 50%;
        background: #92C43E;
    
    }
    .inactivebtn{
        width: 50%;
     
         color: "#000";
    }
    .voiceimg {
        width: 50%; /* Adjusted width */
        height: auto; /* Adjusted height */
        margin: auto;
    }
    
    .advertinfo{
        width: 100%;
      
    }
}