.acordiontitle {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
  font-size: 16px;
}

.why-us .accordion-list ul {
  padding: 0;
  list-style: none;
}
/* .accordionwidth{
    width: 650px;
  } */
.why-us .accordion-list li + li {
  margin-top: 15px;
}

.why-us .accordion-list li {
  padding: 20px 20px 20px 20px;
  background: #fff;
  border-radius: 4px;
}

.why-us .accordion-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 30px;
  outline: none;
  cursor: pointer;
 
}

.why-us .accordion-list span {
  color: #000;
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}

.why-us .accordion-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.why-us .accordion-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add this line for shadow */
}

/* ... (rest of your CSS) */

.why-us .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 45px;
}

.why-us .accordion-list .icon-show {
  display: none;
}

.why-us .accordion-list a.collapsed {
  color: #343a40;
}

.why-us .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.why-us .accordion-list a.collapsed .icon-close {
  display: none;
}

.acordionsigne {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  text-align: center;
  color: white;

  background-color: #92c43e;
  border-radius: 100%;
  font-size: larger;
  font-weight: bolder;
}

@media (max-width: 1024px) {
  .why-us .content,
  .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .why-us .img {
    min-height: 400px;
  }

  .why-us .content {
    padding-top: 30px;
  }

  .why-us .accordion-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .why-us .img {
    min-height: 200px;
  }
}
