

#footer {
    font-size: 14px;
    background: white;
  }
.footerlogoimg{
width: 250.276px;
height: 80px;
flex-shrink: 0;

}
.footerText{
 
padding: 30px 180px 10px 0px !important;
/* border: 2px solid red; */
}
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
  }

   
  
    .linksorderlist {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
   
  .sociallinksitem {
    padding: 10px 0;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
  }
  
  
  
  #footer  a {
    color: #212221;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  ul,li{
    margin-left: 0px !important;
  }
  #footer .footer-top .social-links {
    display: flex;
    gap: 8px; 
}

#footer .footer-top .social-links a {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #92C43E;
    color: #fff;
    line-height: 1;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

 
 
  
  @media (max-width:992px) {
    .footerText{
        padding-top: 30px !important;
        padding-bottom: 10px !important;
        padding-right: 0px !important;
    }
    .navigationpart{

      width: 40% !important;   
      margin-top: 30px;
     }
    .companypart{

      width: 60% !important;   
      margin-top: 30px;
      
     }
     .servicepart{
      margin-top: 30px;
     }
  }