/* Custom input */
.custominput {
  font-size: 14px !important;
  height: 50px;
}

/* Search icon */
.serahicon {
  width: 20px !important;
  height: 20px !important;
}

.awatarImg{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


/* Header image */
.headerimg {
  width: 20% !important;
  height: 55px !important;
}

/* Down arrow icon */
.downarrowicon {
  background: #f4f9ec;
  width: 50px;
  height: 50px;
  border-radius: 7px;
}

/* Down arrow container */
.downarrowcontainer {
 
  cursor: pointer;
}

/* Header down arrow */
.headerdownarrow {
  font-size: 24px;
  margin: 12px;
}

/* Rotate down arrow on hover */
.downarrowcontainer:hover .headerdownarrow {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

/* Dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: calc(100% - 27px);
  right:85px ;
}

/* Display dropdown menu on hover */
.dropdown-menu:hover {
  display: block;
}

/* Display dropdown menu when container is hovered */
.downarrowcontainer:hover + .dropdown-menu {
  display: block;
}

/* Dropdown item */
.dropdown-item {
  color: #92c43e;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20px !important;
 
}

/* Hover effect for dropdown items */
.dropdown-item:hover {
  background: none !important;
}

/* List styling */
ul, li {
  padding-left: 0 !important;
  margin-left: 10px !important;
  margin-bottom: 0 !important;
}

/* Media query for smaller screens */
@media (max-width: 992px) {
  
  .headerlogoimg {
    width: 100vh !important;
    height: 100vh !important;  
    
  }

  /* Hide custom input */
  .custominput {
    display: none;
  }

  /* Hide search icon */
  .serahicon {
    display: none !important;
  }

  /* Adjust header image */
  .headerimg {
    width: 100%;
  }

  .downarrowicon{
display: none;
  }
  /* Hide dropdown items */
  .dropdownitem {
    display: none !important;
  }

  /* Hide header button */
  .headerbutton {
    display: none !important;
  }

  /* Align avatar image to the right */
  .awatarImg {
    display: flex;
    justify-content:end;
 
    gap: 0;
  }

  .dropdown-menu {
    position: absolute;
    top: calc(100% - 26px);
    right:65px;
  }
}

@media (min-width:425px) and (max-width:767px) {
  .dropdown-menu {
    position: absolute;
    top: calc(100% - 12px);
    right:5px;

  }
  
  
}
@media (min-width:375px) and (max-width:425px) {
  .dropdown-menu {
    position: absolute;
    top: calc(100% - 12px);
    right:5px;

  }
  .headerlogoimg {
    width: 100vh !important;
    height: 100vh !important;  
    
  }
}
@media (min-width:320px) and (max-width:375px) {
  .dropdown-menu {
    position: absolute;
    top: calc(100% - 12px);
    right:5px;

  }
  
  .headerlogoimg {
    width: 100vh !important;
    height: 100vh !important;  
    
  }
}