.needycard {
  width:30%;
  height: auto;
  flex-shrink: 0;
  border-radius: 7px;
  background: #fff;
  padding: 50px 20px 50px 30px !important ;
  /* border: 2px solid red; */
}
.callimg {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 31.5px;
  background: #f4f9ec;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgcirclecallimg {
  width: 65px;
  height: 65px;
  flex-shrink: 0;
  border-radius: 31.5px;
  background: #fff;
  box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
}
.emailIconcontainer{
  display: flex;
gap: 30px;
/* justify-content: center; */
}
@media (max-width: 992px) {
  .needycard {
    padding: 20px; 
 width:45%;

  }
  .emailIconcontainer{
    display: flex ;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .email-text {
    word-break: break-all; 

}
.needycard p {
  word-break: break-all; 
}

}
