.card-data {
  width: 100% !important;
  height: auto;
  padding-bottom: 1px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #FFF;
  border: none;
  box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.04) !important;
}

.recomendedcardtitle{
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
  font-size: 16px;
  cursor: pointer;
}

.btnstyle {
  white-space: nowrap;
  border: 2px solid transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  flex-shrink: 0;
  border-radius: 7px;
  background: #92C43E;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  text-align: center;
}

/* Media Query for smaller screens (e.g., mobile devices) */
@media (max-width: 576px) {
  .carddata {
    width: 100% !important; /* Full width on smaller screens */
    margin-right: 0; /* Remove margin between cards */
  }
}
