.bgcolor {
  background: #f4f9ec;
  width: 100%;
  height: auto;
  flex-shrink: 0;
}
.workdata {
  padding-top: 15px;
}
 
.bgcirclecallimg{
  z-index: 2;
}
.subcircle {
  border-radius: 31.5px;
  background: #f4f9ec;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:99;

  
}
.quantity {
  color: #92c43e;
  font-family: "Source Serif Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.title {
  font-family: "Source Serif Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.titleInfo {
  color: #a5a7a5 !important;
}
 

.vertical-line {
    border-left: 1px solid #92c43e;
    position: absolute;
    left: 30px;
    height: 40%!important;
  z-index: 0 !;
}

@media (max-width: 900px) {
    .vertical-line {
        height: 90% !important;
    }
}
