.nametext{
    font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
  font-size: 16px;
}
.registrationheading{
    margin-top: 0px !important;
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: 700;
    line-height: 1.6;
    font-size: 40px;
}

.registarationtitle{
  color: #92C43E;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.numberprefix{
  padding: 0.25rem 0.4rem !important;
}

.input-group-text {
  padding: 0.25rem 0.75rem;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
