.nametext{
    font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
  font-size: 16px;
}
.registrationheading{
    margin-top: 0px !important;
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: 700;
    line-height: 1.6;
    font-size: 40px;
}

.registarationtitle{
  color: #92C43E;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


