.faqherobgcolor {
    width: 100%;
    background: radial-gradient(43.22% 61.13% at 50.14% 49.94%, #F4F9EC 0%, #DEEDC5 100%);
    min-height: 300px;
  
}

.faqsheroheading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    margin-left: 55px;
    
}
.faqsheroimg1{
    width: 30%;
   
}
@media (max-width: 991px) {
    .faqherobgcolor{
        padding-top: 60px;
         
    }

    .faqsheroheading{
        text-align: center;
        height: 250px !important;
        margin: 0;
        width: 100%;
        
    }


    .faqsheroimg1{
        width: 100%;
      
       
    }
}